*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html,body{
    height: 100%;
    width:100%;

}
.main{
    height: 100%;
    width: 100%;
}
.nav{
    width: 100%;
    height: 170px;
    display: flex;
   padding: 30px 40px;
}
.nav1{
    display: flex;
    justify-content: space-between;
    width:50%;
    font-size: 15px;
    font-weight: 600;
}
.nav2{
    display: flex;
    justify-content: space-between;
    width: 35%;
    padding-left: 70px;
    margin-left: 14%;
    font-weight: 600;
}
.content h3{
    font-size: 25px;
    padding: 42px;
}
.content h1{
    padding-top: 5px;
    padding-left:42px;
    font-size:120px;
    line-height: 120px;
    font-weight: 800;
    letter-spacing: -3px;
}
.case{
    margin-top:120px;
    padding-left:42px;
    display: flex;
    justify-content: space-between;
}
.casestudies{
    font-weight: 500;
}
.right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:30px;
}
.right h2{
    margin-right: 35px;
}
.line{
    height: 2px;
    width: 100px;
    background-color: black;
}
.project{
    justify-content: space-between;
    align-items: center;
    display: flex;
    gap:30px;
    padding: 35px 45px;
}
.elem{
    width:50%;
}
.img1{
    height: 600px;
    width:100%;
    background-color: red;
    border-radius: 30px;
}
#i1{
    background-image: url(https://cdn.thewirecutter.com/wp-content/media/2025/09/BG-IPHONE-2048px_IPHONE-17-PRO-MAX_BACK.jpg?auto=webp&quality=75&width=1024);
    background-size: cover;
    background-position: center;
    
}
#i2{
    background-image: url(https://cdn.mos.cms.futurecdn.net/FWMvyvs4ohgN34uScGmdLR.jpg);
    background-size: cover;
    background-position: center;
}
.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.bottom i{
    font-size: 25px;
    padding:15px 20px;
    border: 2px solid black;
    border-radius:30px;
}
.bottom i:hover{
    background-color: black;
    color:white
}
.bottom h3{
    font-weight: 500;
    font-size: 20px;
    color: gray;
}